<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Board">
    <insert id="insertBoard">
        insert into Matching(category, teamname, writer, content, startdate, starttime, numpeople)
        values(#{category}, #{teamname}, #{writer}, #{content}, #{startdate}, #{starttime},#{numpeople})
    </insert>
    <update id="updateBoard">
        update Matching
        set category=#{category}, state=#{state}, teamname=#{teamname}, writer=#{writer}, content=#{content},startdate=#{startdate}, starttime=#{starttime}, numpeople=#{numpeople} where id=#{id}
    </update>
    <delete id="deleteBoard">
        delete from Matching where id=#{id}
    </delete>
    <select id="getBoard" resultType="board">
        select * from Matching where id=#{id}
    </select>
    <select id="getBoardList" resultType="board">
        select * from Matching order by id desc
    </select>
</mapper>